.sidebar{
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 70px;
    left: 0;
    bottom: 0;
    top:50px;
    background-color: white;
    z-index: 100;
}
.sidebar-link{
    display: flex;
    height: 150px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sidebar-link img{
    width: 30px;
    height: 30px;
    object-fit: contain;
}
.sidebar-link:hover{
    background-color: rgb(228, 228, 228);
    cursor: pointer;
}
.sidebar-link div{
    font-family: Roboto, Arial;
    font-size: 10px;
}